form {
    max-width: 500px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form>.input {
    color: #161515;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(225, 227, 230, 0.05);
}

form>.input:focus {
    border-color: #7f56d9;
    box-shadow: 0px 0px 0px 4px rgba(158, 119, 237, 0.24);
}

form>.input::placeholder {
    color: #667085;
    opacity: 0.8;
}

#title {
    font-family: var(--f-font-sans, 'figmaSans', 'figmaSans Fallback', SF Pro Display, system-ui, helvetica, sans-serif);
    font-optical-sizing: auto;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.035rem;
    font-weight: 400;
    font-variation-settings: "wdth" 96, "wght" 400;
}

#session-button {
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    background-color: #23d160;
    /* Match your focus color */
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    margin-top: 8px;
}

#session-button:hover {
    background-color: #35c665;
}

#session-button:active {
    transform: scale(0.98);
}


/* Navbar style */
.topnav {
    background-color: #48c78e;
    overflow: hidden;
}

.topnav a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #094605;
    color: whi;
}

.topnav a.active {
    background-color: #48c78e;
    color: white;
}

/* Calendar style */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    border: 1px solid white;
    padding: 10px;
    min-height: 80px;
    color: white
}

.day:hover {
    background-color: #48c78e;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.month-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.active {
    background-color: #48c78e;
}

.selected {
    border: 2px solid #48c78e;
    background-color: white;
    color: black;
}
button{
    margin-block: 10px;
    margin-inline: 20px;
    padding: 10px;
}
.calendar{
    margin-inline: 20px;
}